streamlit
faiss-cpu
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface

sentence-transformers
huggingface-hub

faiss-cpu

pypdf
unstructured

tiktoken
numpy
pandas
scikit-learn
